html {
  font-size: 16px;
}

.todos {
  display: flex;
  justify-content: space-between;
}

.todo__comment {
  border-left: 1px solid black;
  padding-left: 15px;

}

.button {
  background: rgb(12, 83, 85);
  padding: 10px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba(12, 83, 85, 0.8);
  }
}