html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.todo__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.todo__main-title {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: rgb(17, 87, 64);
  line-height: 1em;
  text-decoration: none;
  padding: 20px 30px;
  border: 2px solid rgba(17, 87, 64, 0.7);
  border-radius: 0.5em;
  margin-bottom: 1em;
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    border-color: rgba(17, 87, 64, 0.4);
    color: rgba(17, 87, 64, 0.4);
  }
}

select {
  border: 1px solid rgba(17, 87, 64, 0.7);
  border-radius: 5px;
  height: 30px;
}

.todo__title {
  text-align: center;
  color: rgb(17, 87, 64);
  margin-bottom: 1em;
}

.todo__projects {
  display: flex;
  justify-content: center;
  gap: 30px;

  .todo__item {
    max-width: 300px;
  }
}

.todo__search {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;


  .todo__input {
    width: 100%;
  }

  .todo__label {
    flex-grow: 1;
  }
}

.todo__found {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.todo__subtodo {
  display: flex;
  align-items: center;
}

.todo__columns {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  max-width: 900px;
  margin: 0 auto;
}

.todo__column {
  height: 100%;
  border-right: 1px solid rgba(12, 83, 85, 0.8);
  padding: 0 10px;

  &:last-of-type {
    border-right: 0;
  }
}

.todo__button {
  width: 100%;
  margin-bottom: 15px;
}

.todo__text {
  text-align: center;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 15px;
}

.todo__subtitle {
  text-align: center;
  color: rgba(39, 67, 58, 0.9);
}

.todo__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo__comments {
  margin-bottom: 20px;
}

.todo__comment {
  padding-left: 15px;
  border-left: 1px solid rgba(17, 87, 64, 0.3);
}

.todo__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo__item {
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid rgba(17, 87, 64, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in;

  &--dragged {
    opacity: 0.9;
  }

  .todo__text {
    margin-bottom: 10px;
  }

  .buttons {
    margin-bottom: 20px;
  }

  &--big {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .checkbox {
      position: absolute;
      left: 10px;
      top: 10px;
    }
  }

  &--checked {
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    border-color: rgba(17, 87, 64, 0.8);
  }
}

.loader {
  color: rgba(#ffffff, 0.5);
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.todo__alert {
  color: rgb(163, 36, 36);
  font-weight: 500;
  font-size: 1.2em;
}

.todo__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__label-text {
  font-size: 1em;
  font-weight: 500;
  color: rgba(17, 87, 64, 0.7);
}

.todo__input {
  padding: 5px;
  border: 1px solid rgba(17, 87, 64, 0.7);
  border-radius: 5px;
  width: 80%;
}

.todo__buttons {
  display: flex;
  gap: 0.7em;
}

.todo__img {
  margin-bottom: 1em;
}

.todo__date {
  margin-top: 0;

  &--late {
    color: rgb(207, 28, 28);
    position: relative;


    &::before {
      position: absolute;
      content: "Time's up";
      top: -1em;
      font-weight: 500;
    }
  }
}

.todo__title {
  margin-top: 0;
}

.button {
  background: rgba(17, 87, 64, 0.9);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-decoration: none;

  &:hover,
  &:focus {
    background: rgba(17, 87, 64, 0.5);
  }
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 5px;
}

.checkbox__input {
  position: absolute;
  top: 0;
  opacity: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.checkbox__input:checked+.checkbox__indicator {
  background-image: url("./img/tick.svg");
  background-position: center center;
  background-repeat: no-repeat;

}

.checkbox__indicator {
  display: block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(17, 87, 64, 0.5);
  border-radius: 5px;

  cursor: pointer;
  outline: none;

}

.checkbox {
  position: relative;
}

.button {
  background: rgb(12, 83, 85);
  padding: 10px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba(12, 83, 85, 0.8);
  }
}

@media(max-width:600px) {
  .todo__columns {
    display: flex;
    flex-direction: column;
  }

  .todo__column {
    margin-bottom: 30px;
  }
}